*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000000;
  }
  .container{
    height: 200px;
    width: 380px;
    position: relative;
    background: linear-gradient(130deg, #f72f2f, #3c27fa, #31f8ac);
    border-radius: 30px;
    cursor: default;
    animation: animate 1.5s linear infinite;
  }
  .container .display,
  .container span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container .display{
    z-index: 999;
    height: 160px;
    width: 325px;
    background: linear-gradient(#4ecdf3, #fac83f, #fd3cd3);
    border-radius: 6px;
    text-align: center;
  }
  .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    background: rgb(3, 2, 2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
  }
  @keyframes animate {
    100%{
      filter: hue-rotate(360deg);
    }
  }
  .container span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
  }
  .container span:first-child{
    filter: blur(7px);
  }
  .container span:last-child{
    filter: blur(20px)
  }
  