body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(cccc.jpg);
}
.Signup
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.Signup h1{
    color: #1c8adb;
    margin-bottom: 30px;
}
.box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn
{
    background-color: #1c8adb;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
    margin: -10px auto 10px;
}
img
{
    width: 100px;
    margin-top: -60px;
}