body{
	font-family: 'Open Sans',sans-serif;
	background: linear-gradient(to right, #00ffc8, #ee0bee);
}
#container{
	width: 1000px;
	height: 550px;
	margin: 80px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 150px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452), 0 6px 20px 0 rgba(0, 0, 0, 0.404);
}
#result{
	height: 120px;
}
#previous{
	text-align: right;
	height: 15px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 22px;
	color: #7700ff;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 35px;
}
#keyboard{
	height: 550px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 25px;
}
.number{
	background-color: #0b7afa;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #43f3ea;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #eca51f;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f33838;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #4369e4;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #a44df5;
}
.operator:hover{
	background-color: #e64ee6;
}
